@import "variable.scss";

@font-face {
	font-family: 'Dosis Regular';
	font-style: normal;
	font-weight: 400;
	src: local('Dosis Regular'), local('Dosis-Regular'), url('fonts/Dosis-Regular.tff') format('tff');
}

@font-face {
	font-family: 'Dosis Bold';
	font-style: normal;
	font-weight: 400;
	src: local('Dosis Bold'), local('Dosis-Bold'), url('fonts/Dosis-Bold.tff') format('tff');
}


body {
	font-family: 'Dosis Regular' !important;
}

input {
	padding: 5px;
    border-radius: 4px;
}

.dropdown-ul {
	margin: 0 10px 0 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    min-width: 100px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.row > div {
    padding: 15px;
}

.generate-report-section {
    background: $light_blue;
}

.chart-container {
    width: 100%;
    min-height: 500px;
    display: none;
    margin-top: 55px;
}

.chart-options{
    top: 75%;
    min-width: 144px;
    left: 4px;
}
.v-report {
    list-style: none;
}
.v-report li {
    float: left;
    font-size: 25px;
    border: black 1px solid;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.v-report li span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}